[Unit]
Description=FullTclash Daemon 
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/FullTclash/
ExecStart=/usr/bin/python3 main.py
Restart=always
